@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,700&display=swap');

body {
  /* margin: 0; */
  font-family: 'Poppins'
}

.container {
  /* @apply m-auto max-w-screen-2xl p-4 */
  @apply m-auto max-w-screen-xl p-4;
}

.button-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  color: #FFFFFF;
  width: 165px;
  height: 56px;
  background: #17477E;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.email-box {

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 72px 16px 8px;
  gap: 8px;

  width: 20rem;
  height: 56px;

  background: #FFFFFF;
  /* Black/06 */

  border: 0.6px solid #696969;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.live-img {
  max-width: none !important;
}

.coin-four {
  left: 70rem;
  position: absolute;
  top: 46rem;
  z-index: 99;
  width: 5rem;
}

.coin-three {
  left: 70rem;
  position: absolute;
  top: 35rem;
  z-index: 99;
}

.coin-two {
  left: 14rem;
  position: absolute;
  top: 20rem;
  width: 5rem;
}

.heading {
  z-index: 99;
}

.coin-one {
  left: 10rem;
  position: absolute;
  top: 23rem;
  z-index: 0;
}

.time-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  gap: 10px;
  width: 140px;
  height: 140px;
  left: 383px;
  background: #F5F5F5;
  border-radius: 8px;
}

.no-show {
  visibility: hidden
}

.main {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
}

.linear-container {
  left: 0px;
  top: 620.96px;
  background: url(../src/assets/time-background.png);
  background-repeat: no-repeat;
  background-color: #17477E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.arch-img {
  width: 10rem;
  z-index: 99;
}

.live-in {
  width: max-content !important;
}
  /* For Desktop View */
@media screen and (min-width: 1024px) {
 
}
  
  /* For Tablet View */
@media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
  .time-card {   
    width: 140px;
    height: 140px;
  }
}
  
  /* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
  and (orientation: portrait) {
  .time-card {
    width: 100px;
    height: 100px;
  }

  .arch-img {
    width: 5rem;
    margin-left: 4rem;
  }

  .coin-one {
    position: absolute;
    top: 18rem;
    left: 0;
    width: 7rem;
    z-index: 0;
  }

  .coin-two {
    position: absolute;
    top: 17rem;
    left: 3rem;
    width: 2rem;
    z-index: 0;
  }

  .coin-three {
    left: 14rem;
    position: absolute;
    top: 33rem;
    z-index: 0;
    width: 10rem;
  }

  .coin-four {
    left: 15rem;
    position: absolute;
    top: 43rem;
    z-index: 0;
    width: 3rem;
  }
}
  
  /* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
  and (orientation: landscape) {
  .time-card {
    width: 86px;
    height: 86px;
  }

  .arch-img {
    width: 5rem;
    margin-left: 4rem;
  }

  .coin-one {
    position: absolute;
    top: 18rem;
    left: 0;
    width: 7rem;
    z-index: 0;
  }

  .coin-two {
    position: absolute;
    top: 17rem;
    left: 3rem;
    width: 2rem;
    z-index: 0;
  }

  .coin-three {
    left: 14rem;
    position: absolute;
    top: 33rem;
    z-index: 0;
    width: 10rem;
  }

  .coin-four {
    left: 15rem;
    position: absolute;
    top: 43rem;
    z-index: 0;
    width: 3rem;
  }
}
  
  /* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .time-card {
    width: 86px;
    height: 86px;
  }

  .arch-img {
    width: 5rem;
    margin-left: 4rem;
  }

  .coin-one {
    position: absolute;
    top: 18rem;
    left: 0;
    width: 7rem;
    z-index: 0;
  }

  .coin-two {
    position: absolute;
    top: 17rem;
    left: 3rem;
    width: 2rem;
    z-index: 0;
  }

  .coin-three {
    left: 14rem;
    position: absolute;
    top: 33rem;
    z-index: 0;
    width: 10rem;
  }
  
  .coin-four {
    left: 15rem;
    position: absolute;
    top: 43rem;
    z-index: 0;
    width: 3rem;
  }
}
  
  /* For iPhone 4 Portrait or Landscape View */
/* @media screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .time-card {
    width: 86px;
    height: 86px;
  }
} */
  
  /* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .time-card {
    width: 86px;
    height: 86px;
  }

  .arch-img {
    width: 5rem;
    margin-left: 4rem;
  }

  .coin-one {
    position: absolute;
    top: 18rem;
    left: 0;
    width: 7rem;
    z-index: 0;
  }

  .coin-two {
    position: absolute;
    top: 17rem;
    left: 3rem;
    width: 2rem;
    z-index: 0;
  }

  .coin-three {
    left: 14rem;
    position: absolute;
    top: 33rem;
    z-index: 0;
    width: 10rem;
  }

  .coin-four {
    left: 15rem;
    position: absolute;
    top: 43rem;
    z-index: 0;
    width: 3rem;
  }
}
  
  /* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .time-card {
    width: 86px;
    height: 86px;
  }

  .arch-img {
    width: 5rem;
    margin-left: 4rem;
  }

  .coin-one {
    position: absolute;
    top: 18rem;
    left: 0;
    width: 7rem;
    z-index: 0;
  }

  .coin-two {
    position: absolute;
    top: 17rem;
    left: 3rem;
    width: 2rem;
    z-index: 0;
  }

  .coin-three {
    left: 14rem;
    position: absolute;
    top: 33rem;
    z-index: 0;
    width: 10rem;
  }

  .coin-four {
    left: 15rem;
    position: absolute;
    top: 43rem;
    z-index: 0;
    width: 3rem;
  }
}
  